$white: #faf6ed;
$orange: #fa6900;
$black: #242A32;
$grey: #5f5f5f;
$yellow: #f6bf4f;

$color-text: $black;
$color-primary: $yellow;
$color-subtext: $grey;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

