h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font-family;
  font-weight: 600;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: .06em;
  color: #111010;
  letter-spacing: -1px;
}

.post__title {
  padding: 0 60px;
}

h2 {
  font-size: 25px;
}