.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("img/icons/svg-sprite.svg");
    background-repeat: no-repeat;
    background-size: 1.6em 12.8em;
}

.no-svg .icon:before {
    background-image: url("img/icons/svg-sprite.png");
}



  .icon.codepen:before {
      background-position: 0em 0em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.facebook:before {
      background-position: 0em -1.6em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.foursquare:before {
      background-position: 0em -3.2em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.github:before {
      background-position: 0em -4.8em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.instagram:before {
      background-position: 0em -6.4em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.px500:before {
      background-position: 0em -8em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.rss:before {
      background-position: 0em -9.6em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.twitter:before {
      background-position: 0em -11.2em;
      width: 1.6em;
      height: 1.6em;
  }





