
p {
  font-family: $base-font-family;
  line-height: 26px;
  margin: 0 0 1.5em;
}

a {
  -webkit-transition: color .3s cubic-bezier(.455,.03,.515,.955);
  transition: color .3s cubic-bezier(.455,.03,.515,.955);
  color: $color-primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

code,
pre {
  font-family: 'Menlo', 'Monaco', monospace;
}

code {
  font-size: .9em;
  font-weight: normal;
  color: #000;
}

pre > code {
  font: inherit;
  color: inherit;
}

pre {
  
}