{% if page.breadcrumbs %}
  {% assign crumb = page.breadcrumbs[0] %}
  <nav class="breadcrumb" aria-label="breadcrumbs" role="navigation">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb__item">
      <a href="{{ site.url }}" itemprop="url" aria-level="1">
        <span itemprop="title">Home</span>
      </a>
    </span>
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb__item">
      <a href="{{ site.url }}{{ crumb.url }}" itemprop="url" aria-level="2">
        <span itemprop="title">{{ crumb.label }}</span>
      </a>
    </span>
  </nav>
{% endif %}
