  <!-- Social: Twitter -->
  <link href="https://twitter.com/{{ site.owner.social.twitter_username }}" rel="me">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.title }}">
  <meta name="twitter:title" content="{{ page.title | strip_html | xml_escape }}">
  {% if page.excerpt %}
    <meta name="twitter:description" property="og:description" content="{{ page.excerpt | strip_html | xml_escape | truncate: 140 }}">
  {% else %}
    <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 140 }}">
  {% endif %}
  <meta name="twitter:image:src" content="{{ site.social.img | prepend: site.baseurl | prepend: site.url }}">
