  {% if site.owner.facebook_username %}
  <li>
    <a href="https://www.facebook.com/{{ site.owner.facebook_username }}" aria-label="Like the David Dias's Facebook page">
      Facebook
    </a>
  </li>
  {% endif %}

  {% if site.owner.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.owner.twitter_username }}" aria-label="Follow David Dias on Twitter">
      Twitter
    </a>
  </li>
  {% endif %}

  {% if site.owner.github_username %}
  <li>
    <a href="https://github.com/{{ site.owner.github_username }}" aria-label="Follow David Dias on Github">
      Github
    </a>
  </li>
  {% endif %}

  {% if site.owner.codepen_username %}
  <li>
    <a href="http://codepen.io/{{ site.owner.codepen_username }}" aria-label="Follow David Dias on Codepen">
      CodePen
    </a>
  </li>
  {% endif %}

  {% if site.owner.500px_username %}
  <li>
    <a href="https://500px.com//{{ site.owner.500px_username }}" aria-label="See my photos on 500px">
      500px
    </a>
  </li>
  {% endif %}

  {% if site.owner.foursquare_username %}
  <li>
    <a href="https://www.foursquare.com//{{ site.owner.foursquare_username }}" aria-label="Follow David Dias on Foursquare">
      <span class="icon foursquare" aria-hidden="true"></span>
    </a>
  </li>
  {% endif %}

  <li>
    <a href="{{ '/feed.xml' | prepend: site.baseurl }}" aria-label="Keep you updated with the RSS feed">
      <span class="icon rss" aria-hidden="true"></span>
    </a>
  </li>