<article class="post-entry">
  <header>
    <p class="post-entry__category">
      <a href="{{ base.url }}{{ post.category | slugify | prepend: '/category/' | append: '/' }}">{{ post.category }}</a>
    </p>
    <h3 class="post-entry__title">
      <a class="post-entry__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
    </h3>
    {% if post.subtitle %}
      <span class="post-entry__subtitle">{{ post.subtitle }}</span>
    {% endif %}
    {% if post.layout.post %}
      <time class="post-entry__date published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
    {% endif %}
  </header>
  {%if post.excerpt_separator %}
  <p class="post-entry__content">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
  {% endif %}
</article>