<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>boilerplate_docs</string>
		<string>experiments</string>
		<string>notes</string>
	</array>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>boilerplate_docs</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>496714641.652008</real>
				<key>lastModification</key>
				<real>496714641.652008</real>
				<key>version</key>
				<dict>
					<key>49d1a2a5ba99f569544f0204ba950b6cf85e144d8aefd1ac970e4abec05dedeb</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>experiments</key>
			<dict>
				<key>lastModification</key>
				<real>496714599.02150297</real>
				<key>version</key>
				<dict>
					<key>49d1a2a5ba99f569544f0204ba950b6cf85e144d8aefd1ac970e4abec05dedeb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>notes</key>
			<dict>
				<key>lastModification</key>
				<real>496714599.02150297</real>
				<key>version</key>
				<dict>
					<key>49d1a2a5ba99f569544f0204ba950b6cf85e144d8aefd1ac970e4abec05dedeb</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>createMarkedFile</key>
		<real>496714709.76640302</real>
		<key>userIconName</key>
		<real>496715433.59095299</real>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Globe</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>49d1a2a5ba99f569544f0204ba950b6cf85e144d8aefd1ac970e4abec05dedeb</key>
			<integer>3</integer>
		</dict>
		<key>createMarkedFile</key>
		<dict>
			<key>49d1a2a5ba99f569544f0204ba950b6cf85e144d8aefd1ac970e4abec05dedeb</key>
			<integer>2</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>49d1a2a5ba99f569544f0204ba950b6cf85e144d8aefd1ac970e4abec05dedeb</key>
			<integer>30</integer>
		</dict>
	</dict>
</dict>
</plist>
