<header class="header" role="banner">
  <div class="container">
    <div class="header__navbar">
      <a class="header__logo" href="{{ full_base_url }}/" rel="home">
        <span class="header__title">{{ site.title | escape }}</span>
        {% if site.subtitle %}
          <span class="header__subtitle">{{ site.subtitle }}</span>
        {% endif %}
      </a>
      <nav class="header__nav" role="navigation" aria-label="Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <ul class="header__list">
        {% for page in site.data.navigation.nav-primary %}
          {% if page.name %}
          <li class="header__list__item">
            <a class="header__list__link" href="{{ page.url | prepend: full_base_url }}">{{ page.name | escape }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>