
.share {
  margin: 1.5em;
  &__heading {
    text-align: center;
    font-size: 0.7em;
  }
  &__list {
    list-style: none;
    margin: 0;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
  }
}


