---
layout: default
---

<article class="post-project">
  <!--Header-->
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="post-project__category">{{ page.category }}</p>
        <h1 class="post-project__title">{{ page.title }}</h1>
      </div>
      <div class="col-lg-6">
        {{ page.summary }}
      </div>
    </div>   
  </div>
  <!--Hero-->
  <section class="post-project__hero">
    <div class="hero__img">
      <img class="" src="/img/projects/project.jpg" width="2560" height="1600" alt="" 
      srcset="
        /img/projects/project.jpg 2560w,
        /img/projects/project-768x480.jpg 768w,
        /img/projects/project-640x400.jpg 640w,
        /img/projects/project-1024x640.jpg 1024w,
        /img/projects/project-1280x800.jpg 1280w,
        /img/projects/project-1680x1050.jpg 1680w"
      sizes="(max-width: 2560px) 100vw, 2560px">
    </div>
  </section>

  <div class="container">
      {{ content }}
  </div>

</article>
