---
layout: default
---

{% assign taxonomy = page.title | downcase | slugify %}
{% assign tag = site.data.taxonomy[taxonomy] %}

<div id="main" role="main">

  <header class="container post__header">
    <h1 class="post__title">{{ page.title }}</h1>
    <h2 class="post__excerpt">
      {% if tag.description %}
        {{ tag.description | markdownify | remove: "<p>" | remove: "</p>" }}
      {% else %}
        An archive of posts tagged <em>{{ page.title }}</em>.
      {% endif %}
    </h2>

  </header>



  <div class="container post__content">

    <div class="post__inner-wrapper">

      <section class="post__body">
        {% for post in page.posts %}
          {% include post-entry.html %}
        {% endfor %}
      </section>

    </div>



  </div>

</div>