{% if site.data.sections.intro.show %}
<!--Intro-->
<section class="section section__intro">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="intro">
          <h1 class="intro__name"><strong>{{ site.data.sections.intro.heading }}</strong></h1>
          <p class="intro__desc">{{ site.data.sections.intro.text }}</p>
          <a class="btn btn--link" href="#">{{ site.data.sections.intro.read_more }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}