{% if site.data.sections.projects.show %}
<!--projects-->
<section class="section section__projects">
  <div class="section__header">
    <div class="container">
      <h2 class="section__title hide">{{ site.data.sections.projects.heading }}</h2>
    </div>
  </div>
  <div class="section__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div id="js-home-projects" class="projects-grid">
            {% for project in site.projects limit:3 %}
              <div class="projects">
                <div class="projects__wrapper">
                  <a href="{{ project.url }}">
                    <div class="projects__overlay">
                      <div class="projects__overlay__text">
                        <h3>{{ project.title | escape }}</h3>
                      </div>
                    </div>
                    <img src="{{ project.image_path }}" width="1440" height="1080" alt="{{ project.img_alt | escape }}">
                  </a>
                </div>                
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}