.footer {
  margin-top: 4em;
  padding: 2em;
  background-color: $color-text;
  &__copyright {
    p {
      color: $white;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: .04em;
      font-size: .8em;
    }
  }
  .icon {
    fill: $white;
    width: 20px;
    height: 20px;
  }
}

.footer__media__list {
  list-style: none;
  margin: 0;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}