
@charset 'utf-8';

.icon {
  width: 40px;
  height: 40px;
  display: block;
}

@import 'vendors/normalize';

@import 'base/colors';
@import 'base/fonts';
@import 'base/base';
@import 'base/sprite';
@import 'base/headings';
@import 'base/typography';
@import 'base/media';

@import 'layout/grid';
@import 'layout/layout';
@import 'layout/header';
@import 'layout/footer';

@import 'components/buttons';
@import 'components/post-entry';
@import 'components/share';

@import 'vendors/syntax-highlight';
@import 'vendors/animate';
